@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

.page-intro{
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(245, 245, 245);
  border-radius: 100% 0% 73% 27% / 0% 66% 34% 100%;
  /* background:linear-gradient(45deg, #043ec1 -44%, #ff6fe7 80%); */
  background:linear-gradient(45deg, #43cea2  -44%,  #185a9d 80%);

}

.company-history{
  position: relative;
  /* background:linear-gradient(45deg, #43cea2  -44%,  #185a9d 80%); */
  /* background-color:#185a9d; */
  /* color: white; */
}

.company-history img
{   
    border-radius: 50%;
    transition: 400ms ease-in; 
}




.lead{
  font-weight: 380;
}

/* history */



/* history */

.timeline-container{
    position: relative;
    z-index: -1;
}
.timeline {
    border-left: 5px solid hsl(0, 12%, 92%);
    border-color:#23cbd6 ;
    position: relative;
    list-style: none;
    margin-left: 60px;
    
  }

  .timeline .timeline-item {
    position: relative;
    color: black;
  }

  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline .timeline-item:after {
    background-color: hsl(0, 12%, 92%);
    background-color:#23cbd6 ;
 
    left: -42px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    content: "";
  }


  .fw-bold {
    font-weight: 700!important;
    color: black;
}



/* teams  */

.team{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 30px 0;
}
.team-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.team-head h3{
  color:#3e4555;
  font-weight: 500;
}
.team-head p{
  width: 50%;
  text-align: center;
  margin-top: 10px;
  color: #8d97ad;
}
.team-body{
  width: 90%;
  height: fit-content;
  margin: auto;
}
.body-wrapper{
  display: flex;
  overflow-x: hidden;
}
.wrapper-box{
  display: flex;
  min-width: 300px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-box img{
  width: 70%;
  border-radius: 50%;
  object-fit: contain;
  margin: 10px 0;
}
.box-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.box-content h5{
  color: #3e4555;;
}
.box-content h6{
  color: #8d97ad;;
}
.box-content p{
  text-align: center;
  width: 75%;
  margin-bottom: 0;
  color: #404750;
  font-weight: 400;
  display: none;
}

.transit{
  transition: transform 0.5s ease-in;
  transform: translate(-100%);
}

.team-buttons{
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 10px;
}
.team-btn{
  text-decoration: none;
  color: black;
}

.btn{ 
  width: 60vw;
}
.btn:hover{
  animation: btn-hover ease-in 0.5s forwards;
}
@keyframes btn-hover{
  25%{
    background-color: rgb(182, 176, 176);
    color: #212529;
  }
  50%{
    background-color: #6b737c;
    color: white;
  }
  75%{
    background-color: #434b52;
    color: white;
  }
  100%{
    background-color: #212529;
    color: white;

  }
}