.moving-header{
    height: 80vh;
    width: 100%;
}
.image-container{
    position: relative;
    height: 80vh;
    width: 100%;
}
.carousel-item .fg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: contain;
    
}
.carousel-item .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    filter: blur(5px);
}
.introduction{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;


}
.client-logo{
    width: 115px;
    height: 115px;
    object-fit: contain;
    margin: auto;
    filter: saturate(1);
}
.client-logo:hover{
    filter: saturate(1.5);
    transition: transform 0.2s ease-out;
    transform: scale(1.05);
}