{% extends 'base.html' %}
{% block pageContent %}
{% load static %}

<div class="page-intro">
  <h1 class="display-5 fw-bold text-center text-white">About Us</h1>
  <img src="/static/learning_img.png" alt="" height="350px" width="600px" style="object-fit: contain;">
</div>

<div class="breadcrump-container pt-4 px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
  </nav>
</div>
<!-- section history -->

<div class="mx-5 py-5 my-5 text-center shadow-lg rounded-3 border company-history">
  <img class="d-block mx-auto mb-4 logo-img" src="../static/vasi.png" alt="">
    <h1 class="display-5">Our History</h1>
    <div class="row mx-auto">
      
        <p class="lead col mx-auto my-4">
            Vasitars Private Limited has been incorporated in India on <strong>18th Day of January 2017 (CIN U74999DL2O17PTC3L0759) </strong>with a target to bring innovation in the field of transmission pipeline repair. The seed of this organization was sown in summers of 2015, 
            when three students of IIT Bhubaneswar started their research on use of composite materials in repair of transmission pipeline.  

            The hard work and academic excellence of these three students under the guidance of academic and industry 
           </p>
        <p class="lead col mx-auto my-4 ">
          experts results into invention entitled "Nano Filler Reinforced Polymer Composite Wrap to Repair Corroded Pipelines".
            The product has been developed and tested on recommended standards listed under ISO, ASME and OSID. Satisfied with the lab test outcome, Vasitars Private Limited has launched the product at commercial levels. Research and upgrade of Product is very near to the heart of Vasitars’ leaders, thus research and product development is a continuous process in Vasitars.
        </p>
      
    </div>
  </div>

<!-- section history -->

<!-- Section: Timeline -->

  <div class="container col-xxl-8 px-4  ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 my-5 shadow-lg rounded-3 border">
      <div class="col-10 col-sm-8 col-lg-6">
       
      <!-- Gallery -->
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />

            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />

            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Waves at Sea"
            />

            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Yosemite National Park"
            />
          </div>
        </div>
      <!-- Gallery -->
      </div>

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Our Journey</h1>
        <!-- timeline -->

        <div class="container-fluid my-0 mx-0 timeline-container ">
            <ul class="timeline py-3">
              <li class="timeline-item mb-5">
                <h5 class="">Our company starts its operations</h5>
                <p class=" mb-2 ">11 March 2020</p>
               
              </li>
          
              <li class="timeline-item mb-5">
                <h5 class="">First customer</h5>
                <p class=" mb-2 ">19 March 2020</p>
                
              </li>
          
              <li class="timeline-item mb-5">
                <h5 class="">Our team exceeds 10 people</h5>
                <p class="mb-2 ">24 June 2020</p>
                
                </p>
              </li>
          
              <li class="timeline-item mb-5">
                <h5 class="">Earned the first million $!</h5>
                <p class="mb-2 ">15 October 2020</p>
                
              </li>
            </ul>
        </div>  
        
        <!-- timeline -->
      </div>
    </div>
  </div>


<!-- team -->
<section class="team">
  <div class="team-head">
      <h3 class="display-6 ">Experienced and Professional Team</h3>
      <p>
          You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time
      </p>
  </div>

  <div class="team-body">
      <div class="body-wrapper">
          <div class="wrapper-box">
              <img src="https://www.vasitars.com/team/2.jpg" class="box-image" alt="">
              <div class="box-content">
                  <h5>Main Heading</h5>
                  <h6>Sub Heading</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum perferendis cupiditate totam repellendus numquam?</p>
              </div>
              <div class="box-links">
                  
              </div>
          </div>
          <div class="wrapper-box">
              <img src="https://www.vasitars.com/team/3.jpg" class="box-image" alt="">
              <div class="box-content">
                  <h5>Main Heading</h5>
                  <h6>Sub Heading</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam commodi corrupti exercitationem quasi dignissimos soluta.</p>
              </div>
              <div class="box-links">
                  
              </div>
          </div>
          <div class="wrapper-box">
              <img src="https://www.vasitars.com/team/4.jpg" class="box-image" alt="">
              <div class="box-content">
                  <h5>Main Heading</h5>
                  <h6>Sub Heading</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam commodi corrupti exercitationem quasi dignissimos soluta.</p>
              </div>
              <div class="box-links">
                  
              </div>
          </div>
          <div class="wrapper-box">
              <img src="https://www.vasitars.com/team/1.jpg" class="box-image" alt="">
              <div class="box-content">
                  <h5>Main Heading</h5>
                  <h6>Sub Heading</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam commodi corrupti exercitationem quasi dignissimos soluta.</p>
              </div>
              <div class="box-links">
                  
              </div>
          </div>
          <div class="wrapper-box">
              <img src="https://www.vasitars.com/team/5.jpg" class="box-image" alt="">
              <div class="box-content">
                  <h5>Main Heading</h5>
                  <h6>Sub Heading</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam commodi corrupti exercitationem quasi dignissimos soluta.</p>
              </div>
              <div class="box-links">
                  
              </div>
          </div>
      </div>
  </div>

  <div class="team-buttons">
    <!-- <a href="" class="btn">Meet Our Mentors</a> -->
    <a href="" class="btn btn-lg shadow border rounded-2 text-center">Visit Our Complete Team</a>
  </div>
</section>

<script>

  window.addEventListener('load',start)

  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }
      
  window.onscroll = ()=>{     
        
        let companyHistory= document.querySelector('.company-history')
        let logoimg = companyHistory.getElementsByTagName('img')[0]

        if(isInViewport(logoimg)==true)
        {
          
        logoimg.style.transform='rotate(0deg) scale(1.1)'
        

        }
        

        else
        logoimg.style.transform='rotate(30deg)'

}



let team_body = document.querySelector('.team-body')
    team_body.addEventListener('mouseover',stop)
    team_body.addEventListener('mouseout',start)
    function start()
{
    time_id = setInterval(() => {
        
        let boxs = document.querySelectorAll('.wrapper-box')
    
        for (box of boxs)
        {
        box.classList.add('transit')
        }
        
        let node = boxs[0]
        setTimeout(()=>{
    
            for (box of boxs)
            {
                box.classList.remove('transit')
            }
    
            node.parentNode.removeChild(node)
            document.querySelector('.body-wrapper').appendChild(node)
    
        },1000)
    
    }, 1500);
}

function stop()
{
    clearInterval(time_id)
}
</script>

{% endblock pageContent %}
